.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    align-items: center;
}
.container2{
    display:flex;
    align-items: center;
    justify-content: center
}

.container3{
    display: grid;
    grid-template-columns: repeat(40 ,20px);
    grid-template-rows: repeat(40, 20px);
    border: 3px solid black;
    width: 800px;

}

.box{
    border: 1px solid black;
}

/*.box:hover,
.permahover{
    background-color:blue;

}

*/

.colorBlack{
    background-color:black;
}

.colorWhite{
    background-color: white;
}